body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.App {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

header h1 {
  margin: 0;
}

.theme-switch-container {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 40px;  /* Adjusted width */
  height: 24px;  /* Adjusted height */
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;  /* Adjusted border-radius */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;  /* Adjusted height */
  width: 18px;  /* Adjusted width */
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(16px);  /* Adjusted translateX */
}

body.dark-mode .slider {
  background-color: #444;
}

body.dark-mode input:checked + .slider {
  background-color: #007bff;
}

.theme-switch-label {
  margin-right: 10px;
  font-size: 14px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

body.dark-mode .rune-table th {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .rune-table tr:nth-child(even) {
  background-color: #2c2c2c;
}

body.dark-mode .rune-table tr:hover {
  background-color: #444444;
}

.accordion-section {
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}

.accordion-header:hover {
  background-color: #e2e2e2;
}

body.dark-mode .accordion-header {
  background-color: #333333;
  color: #ffffff;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  background-color: #fafafa;
}

body.dark-mode .accordion-content {
  background-color: #2c2c2c;
}

.accordion-content.open {
  max-height: 1000px;
  padding: 10px;
}